.metadata{
    margin-top:74px;
    padding:0px 35px 0px 35px;
}
.meta_part1{
    width:300px;
}
.meta_data_p1{
    width:300px;
    height:15px;
    border-top: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
    padding-top:10px;
    padding-left:9px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color:#A67a44;
}
.meta_part2{
    width:300px;
    margin-top:34px;
}


.meta_data_p2 {
    width:300px;
    height:15px;
    border-top: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;

}
.meta_data_p2 > div{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
    padding-left:4px;
    padding-top:10px;
    width:60px;
    display:inline-block;
}
.meta_data_p2 > div:last-child{
    padding-right:7px;
    width:67px;
}
.meta_part3{
    margin-top:45px;
    width:300px;
}
.meta_part3>div{
    width:64px;
    border: 1px solid #808080;
    border-radius: 30px;
    padding:6.5px 12px 6.5px 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
    display:inline-block;
}
.meta_part3>div:last-child{
    margin-left:10px;
    width:auto;
}
.meta_part4{
    width:300px;
    height:15px;
    border-bottom: 1px solid #D0D0D0;
    border-right: 1px solid #D0D0D0;
}
.meta_part5{
    margin-top:23px;
    width:300px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.meta_img1{
    width:36px;
    height:36px;
    border: 1px solid #f1f1f1;
    margin-left:5px;
    border-radius:99em;
}
.meta_img1>div{
    padding:9px;
}
.meta_img2{
    width:36px;
    height:36px;
    border: 1px solid #f1f1f1;
    border-radius:99em;
}

.meta_img3{
    width:36px;
    height:36px;
    border: 1px solid #f1f1f1;
    border-radius:99em;
}

.meta_img4{
    background-color:#ffffff;
    width:30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius:99em;
}
.meta_img4>div{
    padding:5.72px 5.33px 5.73px 5.33px;
}

.meta_img5{
    background-color:#ffffff;
    width:30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius:99em;
}
.meta_img5>div{
    padding:7.69px;
}
.meta_img6{
    background-color:#ffffff;
    width:30px;
    height: 30px;
    border: 1px solid #ffffff;
    border-radius:99em;
}
.meta_img6>div{
    padding:9px 6.39px 7.94px 6.77px;
}